body {
    font-family: "Montserrat", sans-serif;
  }
  .search-input{
    display: block;
    margin: 10px auto;
    width: 70%;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color:#f5deb3;
    color: #8b0000; 
    height: 30px;
  }
  .product-area {
    background-color:#f5deb3;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
 

  
  .product-area div {
    border: 1px solid white;
    padding: 5px;
    width: 30%;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8b0000; 
    background-color: #fffdd0;
    transition: 0.5s;
      }
      .product-area div:hover{
        transform: scale(1.1);
      }
  .product-area div p {
    font-size: 20px;
  }
  .product-area .disc , .product-area .title{
    height: 10%;
  }



  .product-area .disc{
    overflow: hidden;
    text-overflow: clip;
  }
  .product-area div .order {
    background-color: #333333;
    color: white; 
    border-radius: 3px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    width: 80%;
    transition: 0.6s;
    
  }
  .product-area div .order:hover{
    background-color: #696969;
    width: 90%;
  }

  .im{
    width: 100%;
    height: 50%;
  }
.container button{
  margin: 10px auto;
  width: 30%;
  height: 20px;
  display:block;
  color: white;
  border-radius: 5px;
  cursor: pointer;

}
.prev,.next{
  background-color: #333333;
transition: 0.6s;
}
.prev:hover,.next:hover{
  background-color:#696969 ;
  width: 40%;
}
  

  @media (max-width:1000px) {
    .product-area div {
      width: 45%;
    }

  }



  @media (max-width:787px) {
    
    .product-area div {
    width:80%;}
    .product-area .disc{
      height: 20%;
      text-align: center;
      margin-top: 20px;
    
      
    }
    
  }